

:root {
    --primary-color: white; /* Default blue */
    --secondary-color: #ffed4a; /* Default yellow */
    --accent-color: #e3342f; /* Default red */
  }
  
  .theme-dark {
    --primary-color: #222;
    --secondary-color: #888;
    --accent-color: #333;
  }
  
  .theme-custom {
    --primary-color: #4caf50; /* Custom green */
    --secondary-color: #ff5722; /* Custom orange */
    --accent-color: #9c27b0; /* Custom purple */
  }
  
  .theme-light {
    --primary-color: #14213D;
    --secondary-color: #000000;
    --foreground-color: #ffffff;
    --active-color: #FCA311;
    --background-color:#E5E5E5;
	--highlight-color:#C0EBA6;
  }

  
  .container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
  }
  
  
