/* General styles for the configurator */
.form-field-configurator {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    font-size: 0.9em;
    padding: 8px 10px;
    border-radius: 16px;
    max-width: 600px;
    margin: 20px auto;
  }
  

  
  

  
  /* Collapsible section styles */
  .collapsible-section {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .section-toggle {
    width: 100%;
    background-color: #f1f1f1;
    color: #333;
    border: none;
    padding: 14px;
    font-size: 1rem;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .section-toggle:hover {
    background-color: #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .section-toggle:focus {
    outline: none;
  }
  
  .section-content {
    padding: 8px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    color: #333;
  }
  
  .section-content label {
    margin-bottom: 12px;
  }
  

  .mytext {
    border-radius: 20px;
  }

  .mytext {
    border-radius: 20px;
  }
  
  .mytext[type="color"] {
    height: 30px;
    width: 50px; /* Ensure the field fills the width of its container */

    border-radius: 20px; /* Apply your desired border-radius */
    background: none; /* Clear any default background */
  }
  